<div class='main-content container'>
    <div class='form-container'>
        <form class='main-form' action='{{ form_action }}' method="POST">
            {% csrf_token %}

            <div class='form-content form-content-grid'>
                {% for field in form %}
                <div class='form-group {{ field.field.widget.attrs.class }}'>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.help_text %}
                    <p class='help-text'>{{ field.help_text }}</p>
                    {% endif %}


                    {{ field.errors }}
                </div>
                {% endfor %}
            </div>

            {% if form.errors %}
            <div class="form-content form-content-grid">
                <div class="form-group">
                    <div class="message error">
                        There are errors in the form, please fix them and send again.
                    </div>
                </div>
            </div>
            {% endif %}


            <div class='form-content'>
                <button type="submit">Create Account</button>
            </div>
            {% if register_or_login == 'register' %}
            <p class='form-footer'>Already have an account? <a href='{% url "authors:login" %}'>Login here</a></p>
            {% elif register_or_login == 'login' %}
            <p class='form-footer'>Don't have an account? <a href='{% url "authors:register" %}'>Register here</a></p>
            {% endif %}
        </form>
    </div>
</div>