<header class="main-header-container">
    <div class="container">
        <div class="main-header">
            <!-- Menu Button -->
            <button class="button-show-menu" aria-label="Abrir menu">
                <i class="fas fa-bars"></i>
                <span class="hidden-text">Abrir Menu</span>
            </button>

            <h1>
                <a class="main-logo" href="{% url "recipes:home" %}">
                    <i class="fas fa-utensils main-logo-icon"></i>
                    <span class="main-logo-text">Recipes</span>
                </a>
            </h1>
        </div>
    </div>
</header>