{% extends "global/base.html" %}

{% block title %}Register | {% endblock title %}

{% block content %}
    <div class='main-content center container'>
        <div class='form-header'>
            <h2>Create Account</h2>
            <p>Join our community of food lovers</p>
        </div>
    </div>
    
    <div class='main-content container'>
        <div class='form-container'>
            <form action='{% url "authors:create" %}' method="POST">
                {% csrf_token %}
                <div class='form-content form-content-grid'>
                    {% for field in form %}
                        <div class='form-group'>
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        
                            {% if field.help_text %}
                                <p class='help-text'>{{ field.help_text }}</p>
                            {% endif %}

                            {% if field.errors %}
                                <ul class='error-list'>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class='form-content'>
                    <button type="submit">Create Account</button>
                </div>
                <p class='form-footer'>Already have an account? <a href='#'>Login here</a></p>
            </form>
        </div>
    </div>
{% endblock content %}